%define unmangled_name proton-vpn-daemon
%define version {version}
%define service_file me.proton.VPN.service
%define introspection_xml_file me.proton.VPN.conf
%define release 1

Prefix: %{{_prefix}}
Name: python3-%{{unmangled_name}}
Version: %{{version}}
Release: %{{release}}%{{?dist}}
Summary: %{{unmangled_name}} library

Group: ProtonVPN
License: GPLv3
Vendor: Proton AG <opensource@proton.me>
URL: https://github.com/ProtonVPN/%{{unmangled_name}}
Source0: %{{unmangled_name}}-%{{version}}.tar.gz
Source1: %{{service_file}}
Source2: %{{introspection_xml_file}}
BuildArch: noarch
BuildRoot: %{{_tmppath}}/%{{unmangled_name}}-%{{version}}-%{{release}}-buildroot

BuildRequires: python3-devel
BuildRequires: python3-setuptools
BuildRequires: systemd-rpm-macros

Requires: systemd
Requires: python3-dbus-fast
Requires: python3-packaging
Requires: python3-systemd

%description
Contains the daemon for Proton VPN.

# pre un-uninstall/upgrade
%preun
systemctl stop %{{service_file}}
systemctl disable %{{service_file}}
systemctl daemon-reload

# post install/upgrade
%post
systemctl daemon-reload
systemctl enable %{{service_file}}
systemctl start %{{service_file}}

%prep
%setup -n %{{unmangled_name}}-%{{version}} -n %{{unmangled_name}}-%{{version}}

%build
%{{python3}} setup.py build

%install
install -D -m 644 %{{SOURCE1}} %{{buildroot}}%{{_unitdir}}/%{{service_file}}
install -D -m 644 %{{SOURCE2}} %{{buildroot}}%{{_sysconfdir}}/dbus-1/system.d/%{{introspection_xml_file}}
%{{python3}} setup.py install --single-version-externally-managed -O1 --root=$RPM_BUILD_ROOT --record=INSTALLED_FILES

%files -f INSTALLED_FILES
%{{python3_sitelib}}/proton_vpn_daemon-%{{version}}*.egg-info/
%{{_unitdir}}/%{{service_file}}
%{{_sysconfdir}}/dbus-1/system.d/%{{introspection_xml_file}}
%defattr(-,root,root)

%changelog
