#!/usr/bin/make -f

export DESTDIR=debian/tmp

%:
	dh $@
override_dh_auto_install:
	install -D -m 644 rpmbuild/SOURCES/proton-vpn.service $(DESTDIR)/lib/systemd/system/proton-vpn.service
	install -D -m 744 rpmbuild/SOURCES/demo.sh $(DESTDIR)/usr/bin/demo.sh
